<!DOCTYPE html> 

<html>

<head>
    <title>
        Url Shortener | {% block title %} Shorten that url {% endblock title %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
     integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
     crossorigin="anonymous">
     <link href="https://getbootstrap.com/docs/3.4/examples/cover/cover.css" rel="stylesheet">
      

</head>
<body style="background-color: #a5967d;">


    <div class="site-wrapper">

        <div class="site-wrapper-inner">
  
          <div class="cover-container">
  
            {% block content %}
            {% endblock content %}
  
          </div>
  
        </div>
  
      </div>

</body>
</html>